body{
    font-family: "Montserrat";
}

.title{
    background-color: cadetblue;
    padding: 3% 15%

}

.Container-fluid{
    padding: 3% 7%
}

.tit{
    font-family: "Montserrat-White";
    font-size: 3rem;
    line-height: 1.5;
   
}

.title-image {
    width: 125%;
    height: 120%;
    padding: 9%;
    transform: rotate(25deg); 
}

.row {
    padding: 7%;
    text-align: center;
}

.feature-box {
    padding: 5%;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}
.fa-class{
    color: cadetblue; 
    margin: 1rem;
}

.fa-class:hover{
    color: lightcoral;
}

#testimonials {
    text-align: center;
    background-color: cadetblue;

}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 3rem;
}